body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin: 10px;
    padding: 20px;
    background-color: violet;
    text-align: center;
    background: #03001e; 
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
    
}  


#taskInput {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
}


button{
    width: 15%;
       height: 30px;
       border-radius: 5px;
       border: 1px solid #ccc;
       padding: 5px;
       margin-right: 10px;
       background-color: gray;
       background: transparent;
       cursor: pointer;
}
button:hover{
        
       border: 1px solid black;
       border-radius: 5px;
       border-block-start-color: white;
       border-block-end-color: white;
       color:white;
       cursor: pointer;
       
}
#box{
       width: 70%;
       border-radius: 5px;
       box-shadow: 5px 7px #888888;
       border: 7px solid #1d0202;
       padding: 10px;
       position: relative;
       left: 15%;
}
#task{ 
        margin-top: 20px;
        width: 70%;
        border-radius: 5px;
        box-shadow: 5px 7px #888888;
        border: 7px solid #1d0202;
        padding: 10px;
        position: relative;
        left: 15%;
}
#filters {
    margin-top: 10px;
}

#taskList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;

    
}

.task {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.flexRowCC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.high-priority {
    color: red;
    background-color:lightgreen;
    font-weight: bold;   

}

.low-priority {
    color: green;
    background-color:lightblue;
}
.btn{
   
       border-radius: 5px;
       border: 1px solid blue;
       font-size: medium;
       background: yellow;
       cursor: pointer;
}
.btn:hover{
   
    border-radius: 5px;
    border: 1px solid red;
    font-size: medium;
    background:green;
    cursor: pointer;
}
.ft{
    margin-top: 20px;
    align-items: center;
    width: 70%;
    border-radius: 5px;
    box-shadow: 5px 7px #888888;
    border: 7px solid #1d0202;
    padding: 10px;
    position: relative;
    left: 15%;
}
.footer{
    margin-left: 20px;
}


.flexRowCC button{
    width: max-content;
}
@media screen and (max-width: 1007px) {
    #box{
     /* height:200px; */
 }
    }
